@import url(/css-style/style.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

--primary-color-red:hsl(0, 78%, 62%);
--primary-color-cyan:hsl(180, 62%, 55%);
--primary-color-orange:hsl(34, 97%, 64%);
--primary-color-blue:hsl(212, 86%, 64%);
--neutral-color-very-dark-blue:hsl(234, 12%, 34%);
--neutral-color-grayish-blue:hsl(229, 6%, 66%);
--neutral-color-very-light-gray:hsl(0, 0%, 98%);
}

body{
    text-align: center;
    font-size: 93.75%; 
 
    background-color: rgb(217, 238, 255);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
footer p{
    color:var(--neutral-color-very-dark-blue) !important;

}
a{
    color: var(--neutral-color-grayish-blue);

}

