@import url(/css-style/style.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

--primary-color-red:hsl(0, 78%, 62%);
--primary-color-cyan:hsl(180, 62%, 55%);
--primary-color-orange:hsl(34, 97%, 64%);
--primary-color-blue:hsl(212, 86%, 64%);
--neutral-color-very-dark-blue:hsl(234, 12%, 34%);
--neutral-color-grayish-blue:hsl(229, 6%, 66%);
--neutral-color-very-light-gray:hsl(0, 0%, 98%);
}
html{
    font-size: 62.5%;
}
body{
    text-align: center;
    background-color: var(--neutral-color-very-light-gray);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


