.container{
    background-color:var(--neutral-color-very-light-gray);
    width: 100%;
    height: auto;
    padding: 5rem 0 5rem 0;
}
.head{
    height: 50vh;
text-align: center;

}
h1,h2,h3{
    color: var(--neutral-color-very-dark-blue);
}
.title-1{
    display: block;
    font-size: 3rem;
    font-weight: 200;

}
.title-2{
    padding-bottom: 2rem;
    font-weight:600;
    font-size: 3rem;

}
.paragraph{
    font-size: 0.9rem;
    width: 40%;
    margin: auto;
    
}
p{
    color: var(--neutral-color-grayish-blue);
}

.cards{
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
flex-direction: row;
}
.box{
    position: relative;
    text-align: start;
    padding: 1.5rem;
    height: 40vh;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px 3px rgba(202, 200, 200, 0.215);
}
.box h3{
    padding-bottom: 0.5rem;
}
.box p{
font-size: 0.8rem;
}
.art1,.art3{
    width: 25%;

}
.art2{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content-art2{
    width: 100%;
   
 
}
.border-red{
    border-top: solid 5px var(--primary-color-red) ;
}
.border-cyan{
    border-top: solid 5px var(--primary-color-cyan) ;
}
.border-orange{
    border-top: solid 5px var(--primary-color-orange) ;
}
.border-blue{
    border-top: solid 5px var(--primary-color-blue) ;
}
svg{
    position: absolute;
    right: 10%;
    bottom: 10%;
}

@media screen and (max-width:450px) {
  
  
    .cards{
        flex-direction: column;
justify-content: center;
   gap: 1rem;
        }

        .box{
            width: 90vw;
            height: 40vh;
        }
        .art2{
       
            align-items: center;
            width: 100%;
            padding: 5rem 0.3rem 5rem 0.3rem;
        }
        .box h3{
          font-size: 2rem;
        }
        .box p{
        font-size: 1rem;
        }
        .title-1{
        
            font-size: 2rem;
          
        
        }
        .title-2{
        
        
        font-size: 2rem;
        }
        .paragraph{
            font-size: 0.9rem;
            width: 80%;
            margin: auto;
            
        }
        .container{
            width: 100%;
            height: auto;
            padding: 5rem 0.3rem 5rem 0.3rem;
        }
}