p {
    color: var(--neutral-color-grayish-blue);
}

.head {
    margin-top: 5rem;
    max-width: 90%;
}

.head h2 {
    font-size: 3.5rem;
    color: var(--neutral-color-very-dark-blue);
}

.head-title-1 {
    font-weight: 200;
}

.head-title-2 {
    padding-bottom: 1.5rem;
}

.main {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    margin-bottom: 5rem;
}

.paragraph {
    max-width: 50rem;
}

.four-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cards {
    border-radius: .5rem;
    text-align: start;
    padding: 2rem;
    position: relative;
    background-color: var(--neutral-color-very-light-gray);
    box-shadow: 0 1rem .9rem .5rem hsla(229, 6%, 66%, 0.164);
}

.cards h3 {
    color: var(--neutral-color-very-dark-blue);
    padding-bottom: 1.5rem;
}

.cards p {
    padding-bottom: 10rem;
    max-width: 29rem;
}

.cards svg {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
}

.four-card .two-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-1 {
    border-top: .5rem solid var(--primary-color-cyan);
}

.card-2 {
    border-top: .5rem solid var(--primary-color-red);
}

.card-3 {
    border-top: .5rem solid var(--primary-color-orange);
}

.card-4 {
    border-top: .5rem solid var(--primary-color-blue);
}

@media screen and (max-width:50rem) {

    .four-card {
        flex-direction: column;
    }

    .head h2 {
        font-size: 2.5rem;
    }

    .main .paragraph {
        max-width: 30rem;
    }
}